{% extends 'base.html' %}
{% block header %} 
<title>{{ "Todo（Tornado版）" }}</title>
{% end %} 
{% block body %}
            <div class="listbox">
            <h2 class = "title2"><a href="/">计划TodoS</a></h2>
            <ul>

                {% for todo in todos %}
                    
                    {% if todo.finished == 1 %}
                        {% set status = 'class="finished"' %}
                    {% else %}
                        {% set status = '' %}
                    {% end %}
                    {% block edit %}
                    

                    <li {{status}}>
                        {% if todo.finished == 0 %}
                            {{ todo.title }}
                        &nbsp;
                        <a href="/todo/{{ todo.id }}/finish?status=yes">完成</a>
                        {% end %}
                        {% if todo.finished == 1 %}
                            <del>{{ todo.title }}</del>
                            &nbsp;
                        
                        <a href="/todo/{{ todo.id }}/finish?status=no">恢复</a>&nbsp;
                        {% end %}
                        <a href="/todo/{{ todo.id }}/edit">修改</a>&nbsp;
                        <a href="/todo/{{ todo.id }}/delete" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
                        
                    </li>
                    {% end %}
                {% end %}
            </ul>
                </div>
                <div class = "postbox">
                    <h2>新增</h2>
                    <form action="/todo/new" method="post" id="post_new">
                        <p><input type="text" name="title" class="long_txt" />
                        <input type="submit" class="submit" value="添加" /></p>
                    </form>
                </div>

             
{% end %}



